# Core
numpy
pandas
scipy

# Visualization
matplotlib
seaborn
plotly

# Machine Learning
scikit-learn
xgboost
statsmodels

# Dashboard
streamlit

# Database
sqlalchemy

# Data Ingestion
kagglehub

# Utilities
pyyaml
pyarrow
joblib
tqdm

# Optional but recommended
jupyter
ipykernel